{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container mt-5 pt-5">
    <h1>Booking Submitted!</h1>

    <p><strong>Name:</strong> {{ booking.full_name }}</p>
    <p><strong>Date:</strong> {{ booking.booking_date }}</p>
    <p><strong>Time:</strong> {{ booking.booking_time }}</p>
    <p><strong>Guests:</strong> {{ booking.number_of_guests }}</p>
    <p><strong>Status:</strong> {{ booking.status }}</p>

    <a href="{% url 'home' %}" class="btn btn-dark mt-3">Back Home</a>
</div>

{% endblock %}