{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="booking-success-section">

    <div class="container">

        <div class="booking-success-card text-center">

            <h1 class="success-title">
                Booking Confirmed!
            </h1>

            <p class="success-subtitle">
                Thank you for your reservation.
            </p>

            <div class="booking-details">

                <p>
                    <strong>Name:</strong>
                    {{ booking.full_name }}
                </p>

                <p>
                    <strong>Date:</strong>
                    {{ booking.booking_date }}
                </p>

                <p>
                    <strong>Time:</strong>
                    {{ booking.booking_time }}
                </p>

                <p>
                    <strong>Guests:</strong>
                    {{ booking.number_of_guests }}
                </p>

                <p>
                    <strong>Status:</strong>
                    {{ booking.status }}
                </p>

            </div>

            <a href="{% url 'edit_booking' booking.id %}"
            class="btn custom-button-filled mt-4">
            
            Edit Booking</a>
            
            <a href="{% url 'home' %}"
               class="btn custom-button-filled mt-4">

                Back Home

            </a>

        </div>

    </div>

</section>

{% endblock %}