{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container mt-5 pt-5">

    {% if restaurant %}
        <h1>{{ restaurant.name }}</h1>
        <p>{{ restaurant.description }}</p>

        <p><strong>Address:</strong> {{ restaurant.address }}</p>
        <p><strong>City:</strong> {{ restaurant.city }}</p>
        <p><strong>Postcode:</strong> {{ restaurant.postcode }}</p>

        <p><strong>Phone:</strong> {{ restaurant.phone }}</p>
        <p><strong>Email:</strong> {{ restaurant.email }}</p>

        <a href="{% url 'create_booking' %}" class="btn btn-dark mt-3">
            Book a Table
        </a>

    {% else %}
        <p>No restaurant info found in database.</p>
    {% endif %}

</div>

{% endblock %}